* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightyellow;
}
nav {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
}
nav #logo_image {
  margin-top: 1em;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
}
nav ul li {
  margin: 2em 2em;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: larger;
}

nav ul li a:hover {
  color: #fff;
  background-color: coral;
}

.content_culture {
  max-width: 1280px;
  margin: 0 auto;
}
.para_culture {
  font-size: 1.5rem;
  padding: 2em;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  border: 4px solid black;
}
.imageGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.imageGallery img {
  width: 450px;
  height: 300px;
  margin: 10px;
  transition: all 1s;
}
.imageGallery img:hover {
  transform: scale(1.1);
}
