* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
nav ul li {
  margin: 10px 0;
}

nav ul li a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: larger;
}

nav ul li a:hover {
  color: #fff;
  background-color: grey;
}
